server:
  host: "127.0.0.1"
  port: 8080
  cors: "*"
  logging: "INFO"

records:
  "/users":
     target: "http://localhost:8081"
     methods: 
      - "GET"
     rewrite: "/user"
     remove_request_headers: ["x-secret", "user-agent"]
     add_response_headers:
       x-powered-by: "RustGateway"

  "/chat":
      target: "http://localhost:8082"
      rewrite: "/chats"
      methods:
        - "POST"

