server:
  host: "127.0.0.1"
  port: 8080
  cors: "*"
  logging: "INFO"

records:
  "/api/users":
     target: "http://localhost:3001"
     methods: 
      - "GET"
      - "POST"
     rewrite: "/users"
     remove_request_headers: ["x-secret", "user-agent"]
     add_response_headers:
       x-powered-by: "RustGateway"

  "/api/posts":
      target: "http://localhost:3002"
      methods:
        - "POST"
